<div class="jumbotron">
  <h1 class="title">Dream Offer</h1>
  <p class="slogan">去梦想的地方
  <br>
  一周3~8个机会，仅需一次申请
  <br>
  20w 以上年薪互联网技术、设计、产品
  </p>
  <p class="lead"><a class="btn btn-lg btn-info" href="/jobs">立即加入</a></p>
</div>

<div>
  
</div>
