<div class="jumbotron">
  <h1 class="title">Dream Offer</h1>
  <p class="slogan">找到梦想的职位
  <br>
  一周3~8个机会，仅需一次申请
  <br>
  20w 以上年薪互联网技术、设计、产品
  </p>
  <p class="lead"><a class="btn btn-lg btn-info" href="/users/sign_up">立即加入</a></p>
</div>

<section class="odd">
  <div class="section-content">
    <div class="container-fluid bg-3 text-center">
      <h2 class="section-title">优质服务</h2><br><br>
      <div class="col-3 clearfix advantage">
        <div class="row">
          <div class="col-sm-3 item fl">
            <img class="advantage-img" src="http://ww1.sinaimg.cn/large/006tKfTcgy1fet171jh8nj30e80e8aa0.jpg" class="img-responsive" style="width:25%; height:25%;" alt="Image">
            <br>
            <h3 class="advantage-title">双向沟通</h3>
            <p>与未来上司或公司高管直接沟通</p>
          </div>
          <div class="col-sm-3 item fl">
            <img class="advantage-img" src="http://ww3.sinaimg.cn/large/006tKfTcgy1fet0z8muvjj30e80e80sm.jpg" class="img-responsive" style="width:25%; height:25%;" alt="Image">
            <br>
            <h3 class="advantage-title">信息保密</h3>
            <p>未经用户授权的情况下，企业看不到你的姓名和联系方式</p>
          </div>
          <div class="col-sm-3 item fl">
            <img class="advantage-img" src="http://ww1.sinaimg.cn/large/006tKfTcgy1fet146slk2j30e80e8jra.jpg" class="img-responsive" style="width:25%; height:25%;" alt="Image">
            <br>
            <h3 class="advantage-title">入职有礼</h3>
            <p>求职不收取任何费用，如果入职成功更有好礼相送</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="story">
          <p class="text-center">看看他们的故事</p>
        </div>
        <br>
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <p class="section-heading">安娜，UI设计师</p>
          <p>我在一个星期之内就入职了大型上市公司，非常感谢DreamOffer这个平台</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'http://ww3.sinaimg.cn/large/006tKfTcgy1fet5cwhxpmj30zk0k079b.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <p class="section-heading">史蒂夫，全栈工程师</p>
          <p>全栈工程师不仅仅是一个目标，更是人生不懈的追求</p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag 'http://ww4.sinaimg.cn/large/006tKfTcgy1fet5ewuvb1j30zk0np0y3.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <p class="section-heading">茱莉亚，上市公司人力资源总监</p>
          <p>在这里总能找到对的人</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'http://ww3.sinaimg.cn/large/006tKfTcgy1fet5he8cnuj30zk0npgoy.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>
</section>


<div id="sidebar" class="sidebar">
  <ul>
    <li class="backtop"><i class="fa fa-chevron-up fa-5x"></i></li>
    <li class="support">
      <i class="fa fa-qrcode fa-5x"></i>
      <div class="ewm">
          <a href="https://fullstack.xinshengdaxue.com/works/337" target="_blank"><img src="http://ww2.sinaimg.cn/large/006tKfTcgy1feug5j4052j303g03cjrf.jpg"></a>
        </p>
      </div>
    </li>
  </ul>
</div>
