<table class="table table-boldered">
    <thead>
        <tr>
            <th>用户名</th>
            <th>注册邮箱</th>
        </tr>

    </thead>
    <tbody>
      <tr>
        <td><%= current_user.username %></td>
        <td><%= current_user.email %></td>
      </tr>
    </tbody>
  </table>
