/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require devise
*= require bootstrap_wrapper

 */

@import "bootstrap";
@import "bootstrap-sprockets";
@import "font-awesome";

$nav-color-gray: #A6A6A6;
$nav-color-white: #fff;
$nav-color-black: #A6A6A6;
$nav-background-black: #323436;
$nav-a-hover: #353637;

body {
  font-family: Hiragino Sans GB,Lantinghei SC,Open Sans,Arial,Microsoft YaHei,sans-serif;
  // letter-spacing: 0.1em;
}


//------------navbar----------

.navbar {
    border: none;
}

 .navbar-brand > img {
     display: inline-block; //图片和链接文字显示在同一行
     margin-right: 10px; //图片和链接文字拉开一点距离
     margin-bottom: 10px;
     width: 32px; //定制图片宽度
     height: 32px; //定制图片高度
 }

 //去掉导航栏的倒角

  @media (min-width: 768px) {
   .navbar {
     border-radius: 0; //圆角为0
   }
 }

 .navbar-default {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  margin-bottom: 0;//底部 margin 不撑开距离
  transition: background-color .6s;
  &.black {
    color: $nav-color-gray;
    background-color: $nav-background-black;

    .navbar-nav > li > a{
      color: $nav-color-gray;
      // border: 1px solid #ddd;
    }
    .navbar-brand {
      color: $nav-color-white;
    }
  }
  &.transparent {
    color: $nav-color-white;
    background: linear-gradient(#333,transparent);//背景颜色
    border-bottom: 0;
  }
  .navbar-brand {
    padding: 10px 15px;//上下10px,左右15px
    line-height: 30px;//文字行高
    color: $nav-color-white;
    &:hover {
      color: $nav-color-white;
    }
  }
  .navbar-right {
    // margin-top: 10px;
  }
  .navbar-nav > li > a{
    // width: 80px;
    // border-radius: 40px;
    // padding-top: 6px;
    // padding-bottom: 6px;
    // text-align: center;
    // margin-right: 15px;
    color: $nav-color-white;
    // border: 1px solid rgb(221, 221, 221);
    transition: 0.15s linear;
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    color: $nav-color-white;
    background-color: none;
    border-color: $nav-a-hover;
  }
  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    color: $nav-a-hover;
    background-color: $nav-a-hover;
  }
  .navbar-nav > .open > a,
  .navbar-nav > .open > a:focus,
  .navbar-nav > .open > a:hover {
      background: none;
      color: #fff;
  }
}



// ---------jumbotron------------

 .container-fluid .jumbotron{
   padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
   margin: 0 -15px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
   border-radius: 0;//圆角为0
   padding-top: 0;
 }

.jumbotron {
  background-image:url('https://static.pexels.com/photos/47426/pexels-photo-47426.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 110px;
  background-position: center 0px;
  margin: 0 -15px 0;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
  color: #FFF;
  position: relative;
  height: 750px;
  letter-spacing: 2px;
  // filter: blur(.5px);

  .text-content {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .title {
    text-align: center;//文字左对齐
    padding: 50px 20px 0;//上50px，左右20px，下0
    font-size: 50px;
    font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
    text-align: center;
    padding-top: 268px;
  }
  .slogan {
    width: 600px;
    margin: 44px auto 0;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }
  .lead {
    margin-top: 40px;
    margin-bottom: 230px;
    text-align: center;
    color: white;
    .b-btn {
      padding: 10px 20px;
    }
  }
}

.caption {
  margin: 30px;
  text-align: center;
  top: 20px;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin-top: 60px;
}

//-----------section-----------

// section-title
.section {
  padding-top: 20px;
  padding-bottom: 85px;
  &.odd {
    background: #FFF;
  }
}
.section-title {
  text-align: center;
  font-size: 35px;
  color: #858c8b;
  line-height: 34px;
}

.section-content {
  width: 1000px;
  padding-top: 60px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.8em;
  .title {
    padding: 20px 0 10px;
    color: #333333;
    font-size: 24px;
    font-weight: bold;
  }
  .description {
    width: 420px;
    margin: 0 auto;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .col-3 {
    padding-top: 20px;
    .item {
      width: 300px;
      margin-left: 33px;
      position: relative;
      top: 0;
      -webkit-transition: all .4s;
      transition: all .4s;
      &:hover {
        position: relative;
        top: -5px;
      }
      .advantage-img {
        width: 60px;
        height: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .advantage-title {
        margin-top: 20px;
        margin-bottom: 10px;
        color: #333333;
        font-weight: bold;
        line-height: 24px;
        font-size: 16px;
      }
    }
  }
}


//-----------content--------------

.story {
  font-size: 35px;
  color: #616B6B;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.section-heading {
  font-size: 25px;
  color: #0991D0;
  margin-bottom: 30px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

//-----------table shadow effect-----------

.custab{
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

.form-box {
  padding-bottom: 40px;
}

.table {
  border: 1px solid #e0e6ed;
  thead > tr > th {
    background: #eff2f7;
    border-bottom: 1px solid #e0e6ed;
  }
  &.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f9f9f9;
  }
  &.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
  }
  td, th {
    // border-right: 1px solid #ddd;
  }
  .btn {
    &.btn-info {
      background: #F0AD4E;
      border-color: #F0AD4E;
    }
    &.btn-warning {
      background: #62A8EA;
      border-color: #62A8EA;
    }
    &.btn-danger {
      background: #F96868;
      border-color: #F96868;
    }
  }
}


/*---------hot job section--------*/


.hjc-ul {
  padding: 0 20px 0;
  margin: 50px auto 0;
  text-align: center;
  overflow: hidden;
  height: 355px;
  width: 1024px;
  li {
    display: inline-block;
    width: 220px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
    .hjc-img-wrap {
      width: 220px;
      height: 150px;
      img {
        width: 100%;
        height: auto;

      }
      &:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -webkit-transition: all .8s;
        transition: all .8s;
      }
    }
    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0,0,0,.7);
      font-size: 16px;
      padding: 6px 25px;
      color: #fff;
      transition: opacity .4s ease-in-out;
    }
  }
  .more {
    .title {
      height: 150px;
      line-height: 130px;
      font-size: 20px;
    }
  }
}

//---------right sidebar-------

.sidebar {
  display: none;
  position: fixed;
  z-index: 998;
  right: 30px;
  bottom: 100px;
  width: 40px;
  height: auto;
  line-height: 20px;
  * {
    box-sizing: border-box;
  }
  ul {
    padding: 0;
  }
  li {
    position: relative;
    display: block;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    margin-top: 8px;
    background: #fbfbfb;
    line-height: 42px;
    &:hover {
      background: #eee;
    }
    &:first-child {
      margin-top: 0;
    }
    &.backtop i {
      font-size: 18px;
    }
    &.support {
      i {
        font-size: 20px;
      }
      .ewm {
        line-height: 22px;
        display: none;
        left: 0px;
        opacity: 0;
        position: absolute;
        z-index: 1;
        opacity: 0;
        display: none;
        left: 0;
        top: 50%;
        margin-top: -68px;
        width: 136px;
        height: 136px;
        padding-right: 10px;
        p {
          background: #eee;
          border-radius: 1px;
          padding: 15px;
        }
      }
    }
    i {
      color: #31BAFD;
    }
  }
}

/*--------- wrap ----------*/

.wrapper-container {
  min-height: 743px;
  // padding-top: 120px;
  padding-top: 75px;
  padding-bottom: 80px;
  .container {
    padding-top: 40px;
  }
  .login-wrap {
    height: 85px;
  }
}

/*====admin panel========*/

.empty-message {
  text-align: center;
  line-height: 400px;
}

.form-box {
  padding-bottom: 40px;
}

/*--- Job ---*/

.job-content{
  min-height: 725px;
  margin-top: 100px;

  a{
    text-decoration: none;
  }
}

.side-box{
 display: inline-block;
 position: absolute;
 margin-top: 112px; //这些根据你的页面显示自己调节数值
 margin-left: 35px;
 padding-bottom: 12.5px;
 min-width: 260px;

 background-color: #31BAFD;
 color: #fff;
 box-shadow: 2px 2px 3px #aaa;
}

.job-box{
 border: 1.5px solid #ddd;
 box-shadow: 1px 1px 5px #ccc;
 margin-top: 12.5px;
 padding: 15px 1px 1px 20px;
 background-color: #fff;
 color: #555;
 font-size: 16px;

 div{
 margin-bottom: 5px;
 }
}

  .suggest-title{
    padding: 12.5px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.5px;
  }


  .suggest-content{
    background-color: #fff;
    padding: 7.5px;
    border: 0.5px dashed #eee;


    h3{
  margin-top: 1px;
  font-size: 16px;
}

p{
  font-size: 14px;
  color: #4A545C;
  letter-spacing: -1px;
}

span{
  color: #aaa;
  font-size: 14px;
  letter-spacing: 0.5px;
}
  }

/*---------footer---------------*/

.footer-distributed{
	background-color: #323436;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 103%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	margin-top: 100px;
  margin-left: -20px;
  z-index: auto;

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #31BAFD;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #31BAFD;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}
