/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap";
@import "bootstrap-sprockets";
@import "font-awesome";



//------------navbar----------


 .navbar-brand > img {
     display: inline-block; //图片和链接文字显示在同一行
     margin-right: 10px; //图片和链接文字拉开一点距离
     margin-bottom: 10px;
     width: 28px; //定制图片宽度
     height: 28px; //定制图片高度
 }

 .navbar-default {
     background-color: #323436;  //背景颜色
     border-color: #323436; //边框色
     margin-bottom: 0; //底部 margin 不撑开距离
 }

 //去掉导航栏的倒角

  @media (min-width: 768px) {
   .navbar {
     border-radius: 0; //圆角为0
   }
 }

  .navbar-default .navbar-brand {
   color: #F4F4F4; //字体颜色
   padding: 10px 15px; //上下10px，左右15px
   line-height: 30px; //文字行高
 }

 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus {
   color: #31BAFD; //鼠标放置在链接上的文字颜色
   background-color: transparent; //鼠标放置在链接上的背景颜色，这里设为透明
 }

  .navbar-default .navbar-nav > li > a{
   color: #F4F4F4;
 }

 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
   color: #31BAFD;
   background-color: transparent;
 }
 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
   color: #31BAFD;
   background-color: #FFE0B2;

 }

 .navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:focus,
 .navbar-default .navbar-nav > .open > a:hover {
   background-color: #616B6B;

   color: #212121;

 }

// ---------jumbotron------------

 .container-fluid .jumbotron{
   padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
   margin: 0 -15px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
   border-radius: 0;//圆角为0
 }

.jumbotron {
  background-image:url('https://static.pexels.com/photos/47426/pexels-photo-47426.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 210px;
}

.jumbotron h1, .jumbotron .h1 {
  text-align:  center;
  color: #FFF;
  padding: 50px 20px 0;
}

.jumbotron p {
  margin: auto;
  font-size: 26px;
  max-width: 800px;
  padding: 20px;
  text-align: center;
  color: #FFF;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}


.title {
  text-align: center;
  max-width: 800px;
  margin: auto;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;

}

.slogan {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  top: 150px;
}

.lead {
  margin-bottom: 60px;
  text-align: center;
  color: white;
}

.caption {
  margin: 30px;
  text-align: center;
  top: 20px;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin-top: 60px;
}

//-----------section-----------

// section-title
.section {
  padding-top: 20px;
  padding-bottom: 85px;
  &.odd {
    background: #FFF;
  }
}
.section-title {
  text-align: center;
  font-size: 35px;
  color: #858c8b;
  line-height: 34px;
}

.section-content {
  width: 1000px;
  padding-top: 60px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.8em;
  .title {
    padding: 20px 0 10px;
    color: #333333;
    font-size: 24px;
    font-weight: bold;
  }
  .description {
    width: 420px;
    margin: 0 auto;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .col-3 {
    padding-top: 20px;
    .item {
      width: 300px;
      margin-left: 33px;
      position: relative;
      top: 0;
      -webkit-transition: all .4s;
      transition: all .4s;
      &:hover {
        position: relative;
        top: -5px;
      }
      .advantage-img {
        width: 60px;
        height: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .advantage-title {
        margin-top: 20px;
        margin-bottom: 10px;
        color: #333333;
        font-weight: bold;
        line-height: 24px;
        font-size: 16px;
      }
    }
  }
}


//-----------content--------------

.story {
  font-size: 35px;
  color: #616B6B;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.section-heading {
  font-size: 25px;
  color: #0991D0;
  margin-bottom: 30px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

//-----------table shadow effect-----------

.custab{
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

.form-box {
  padding-bottom: 40px;
}

.table {
  border: 1px solid #e0e6ed;
  thead > tr > th {
    background: #eff2f7;
    border-bottom: 1px solid #e0e6ed;
  }
  &.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f9f9f9;
  }
  &.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
  }
  td, th {
    // border-right: 1px solid #ddd;
  }
  .btn {
    &.btn-info {
      background: #F0AD4E;
      border-color: #F0AD4E;
    }
    &.btn-warning {
      background: #62A8EA;
      border-color: #62A8EA;
    }
    &.btn-danger {
      background: #F96868;
      border-color: #F96868;
    }
  }
}


/*---------hot job section--------*/


.hjc-ul {
  padding: 0 20px 0;
  margin: 50px auto 0;
  text-align: center;
  overflow: hidden;
  height: 355px;
  width: 1024px;
  li {
    display: inline-block;
    width: 220px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
    .hjc-img-wrap {
      width: 220px;
      height: 150px;
      img {
        width: 100%;
        height: auto;
        
      }
      &:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -webkit-transition: all .8s;
        transition: all .8s;
      }
    }
    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba(0,0,0,.7);
      font-size: 16px;
      padding: 6px 25px;
      color: #fff;
      transition: opacity .4s ease-in-out;
    }
  }
  .more {
    .title {
      height: 150px;
      line-height: 130px;
      font-size: 20px;
    }
  }
}

/*---------footer---------------*/

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #31BAFD;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #31BAFD;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}

//---------right sidebar-------

.sidebar {
  display: none;
  position: fixed;
  z-index: 998;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: auto;
  line-height: 20px;
  * {
    box-sizing: border-box;
  }
  ul {
    padding: 0;
  }
  li {
    position: relative;
    display: block;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    margin-top: 8px;
    background: #fbfbfb;
    line-height: 42px;
    &:hover {
      background: #eee;
    }
    &:first-child {
      margin-top: 0;
    }
    &.backtop i {
      font-size: 18px;
    }
    &.support {
      i {
        font-size: 20px;
      }
      .ewm {
        line-height: 22px;
        display: none;
        left: 0px;
        opacity: 0;
        position: absolute;
        z-index: 1;
        opacity: 0;
        display: none;
        left: 0;
        top: 50%;
        margin-top: -68px;
        width: 136px;
        height: 136px;
        padding-right: 30px;
        p {
          background: #eee;
          border-radius: 1px;
          padding: 15px;
        }
      }
    }
    i {
      color: #31BAFD;
    }
  }
}
