  <footer class="footer-distributed" style="margin-top:800px;">

  <div class="footer-left">

  	<h3>Dream<span>Offer</span></h3>

  	<p class="footer-links">
  		<a href="/">首页</a>
  		·
  		<a href="http://wangdonghui.logdown.com/">博客</a>
  		·
  		<a href="/">常见问题</a>
  		·
  		<a href="/">法律条款</a>
  	</p>

  	<p class="footer-company-name">DreamOffer &copy; 2017</p>
  </div>

  <div class="footer-center">

  	<div>
  		<i class="fa fa-map-marker"></i>
  		<p><span>中山路001号</span> 中国，武汉</p>
  	</div>

  	<div>
  		<i class="fa fa-phone"></i>
  		<p>+86 12345678900</p>
  	</div>

  	<div>
  		<i class="fa fa-envelope"></i>
  		<p><a href="mailto:support@dreamoffer.com">support@dreamoffer.com</a></p>
  	</div>

  </div>

  <div class="footer-right">

  	<p class="footer-company-about">
  		<span>关于我们</span>
  		精准匹配，优质生活。
  	</p>

  	<div class="footer-icons">

  		<a href="https://wx.qq.com/"><i class="fa fa-weixin"></i></a>
  		<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
  		<a href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin"></i></a>
  		<a href="https://github.com/"><i class="fa fa-github"></i></a>
      <a href="https://fullstack.xinshengdaxue.com/works/337"><i class="fa fa-thumbs-up"></i></a>
  	</div>

  </div>

</footer>
